.card1{
    display: flex;
    padding-bottom: 10px;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    /* width: 100%;     */
    background: white;
}

.card2{
    width: 400px;
    margin: 0 20px 40px 20px;
    background: white;
}

.header{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    
    background: white;
    text-align: center;
    height: 80px;
    font-size: 26px;
    font-weight: bold;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background:rgb(226, 226, 226);    
    text-align: center;
    height: 50px;
    font-size: 14px;
    color: rgb(182, 182, 182);
}

.content{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    line-height:25px;
    /* width: 400px; */
}

.line{
    width: 90%;
    height: 1px;
    margin: 0;
    background: rgb(235, 235, 235);
}

body .demo-class .layui-layer-title{
    background:#c00; 
    color:#fff; 
    border: none;
    height: 0;
}
